.inputStyling {
    height: 42px;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(242, 242, 242);
    padding-left: 8px;
    transition: all 0.3s ease;
  
    &:active {
      background-color: rgb(222, 222, 222);
    }
  }