.grid {
    display: grid;
    gap: 8px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}


@media (max-width: 1000px) {
    .grid {
        grid-template-columns: 1fr 1fr !important;  
    }
}

@media (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr !important; 
    }
}
